 
 
 .image {
    display: flex;
    width:500px;
    height: 500px;
    border-radius: 25px;
 }

 .flexi{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 90px;
    /* margin-left: 200px; */
 }
 
 .form{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ec21f3;
}
 
#content{
    height: 200px;
  }

#submit{
    background-color: #4bf32140;
  }
/* footer attributes for the form only */
footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    background-color: #4bf32140;
    color: #ec21f3;
    /* margin-top: 20px; */
    /* height: 100%; */
    padding-bottom: 60px;
    position: absolute;
  bottom: 0; 
  width: 100%;
  left: 0; 
    
 }
 /* responsiveness of page */
 @media only screen and (max-width: 1400px) {
    .vertical-line{
      display: none;
    }
    .flexi{
      padding-top: 25px;
    }
  } 
   @media only screen and (max-width: 700px) {
    .flexi{flex-direction:column;}
    .form{
      width: 50%;
      position: relative;
      }
    footer{
      position: relative;
    }
  }
 /* adjust image when under 1000px  */
@media only screen and (max-width: 1000px) {
    
    .image{
      width: 50%;
      height:50%;
      
    }
      
    .container{
      width: fit-content;
      
    }
    
} 
  /* do not display the image after a certain px size has reached */
   @media only screen and (max-width: 900px) {
    .image{
      
      display:none;
    }
    
  } 
  
   
